@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('dehinted-AtkinsonHyperlegible-BoldItalic.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic.svg#AtkinsonHyperlegible-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('dehinted-AtkinsonHyperlegible-Bold.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-Bold.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-Bold.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-Bold.svg#AtkinsonHyperlegible-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('dehinted-AtkinsonHyperlegible-Italic.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-Italic.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-Italic.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-Italic.svg#AtkinsonHyperlegible-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('dehinted-AtkinsonHyperlegible-Regular.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-Regular.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-Regular.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-Regular.svg#AtkinsonHyperlegible-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Bold Italic'), local('AtkinsonHyperlegible-BoldItalic'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic_1.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic_1.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic_1.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic_1.svg#AtkinsonHyperlegible-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Bold'), local('AtkinsonHyperlegible-Bold'),
        url('dehinted-AtkinsonHyperlegible-Bold_1.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-Bold_1.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-Bold_1.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-Bold_1.svg#AtkinsonHyperlegible-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Regular'), local('AtkinsonHyperlegible-Regular'),
        url('dehinted-AtkinsonHyperlegible-Regular_1.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-Regular_1.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-Regular_1.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-Regular_1.svg#AtkinsonHyperlegible-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Italic'), local('AtkinsonHyperlegible-Italic'),
        url('dehinted-AtkinsonHyperlegible-Italic_1.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-Italic_1.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-Italic_1.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-Italic_1.svg#AtkinsonHyperlegible-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Bold'), local('AtkinsonHyperlegible-Bold'),
        url('dehinted-AtkinsonHyperlegible-Bold_2.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-Bold_2.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-Bold_2.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-Bold_2.svg#AtkinsonHyperlegible-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Italic'), local('AtkinsonHyperlegible-Italic'),
        url('dehinted-AtkinsonHyperlegible-Italic_2.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-Italic_2.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-Italic_2.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-Italic_2.svg#AtkinsonHyperlegible-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Bold Italic'), local('AtkinsonHyperlegible-BoldItalic'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic_2.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic_2.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic_2.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic_2.svg#AtkinsonHyperlegible-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Regular'), local('AtkinsonHyperlegible-Regular'),
        url('dehinted-AtkinsonHyperlegible-Regular_2.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-Regular_2.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-Regular_2.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-Regular_2.svg#AtkinsonHyperlegible-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Bold'), local('AtkinsonHyperlegible-Bold'),
        url('dehinted-AtkinsonHyperlegible-Bold_3.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-Bold_3.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-Bold_3.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-Bold_3.svg#AtkinsonHyperlegible-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Italic'), local('AtkinsonHyperlegible-Italic'),
        url('dehinted-AtkinsonHyperlegible-Italic_3.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-Italic_3.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-Italic_3.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-Italic_3.svg#AtkinsonHyperlegible-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Bold Italic'), local('AtkinsonHyperlegible-BoldItalic'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic_3.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic_3.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic_3.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-BoldItalic_3.svg#AtkinsonHyperlegible-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: local('Atkinson Hyperlegible Regular'), local('AtkinsonHyperlegible-Regular'),
        url('dehinted-AtkinsonHyperlegible-Regular_3.woff2') format('woff2'),
        url('dehinted-AtkinsonHyperlegible-Regular_3.woff') format('woff'),
        url('dehinted-AtkinsonHyperlegible-Regular_3.ttf') format('truetype'),
        url('dehinted-AtkinsonHyperlegible-Regular_3.svg#AtkinsonHyperlegible-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

